.point-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.point-container img {
    width: 50px; /* 이미지 크기 조정 */
    height: auto;
    margin-right: 10px; /* 이미지와 텍스트 간격 조정 */
}

.point-text {
    font-size: 20px; /* 텍스트 폰트 크기 조정 */
}

#point {
    font-weight: bold; /* 포인트 텍스트 굵게 표시 */
}

#date {
    color: gray; /* 날짜 텍스트 색상 조정 */
}

#earning {
    color: green; /* 획득 포인트 텍스트 색상 조정 */
}

/* CSS 파일(style.css) */
.point-text p#point {
    font-size: 24px; /* 글꼴 크기를 조절 */
}

.point-text .point-unit {
    font-size: 16px; /* pt 단위 글꼴 크기를 조절 */
}
